@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
    body {
        -webkit-tap-highlight-color: transparent;
        @apply bg-background-dark text-white font-display;
    }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.fill-icon {
    font-variation-settings: 'FILL' 1;
}

.ios-blur {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

/* Hide scrollbar */
::-webkit-scrollbar {
    display: none;
}

.custom-scrollbar::-webkit-scrollbar {
    display: none;
}